<h1>Edit Story</h1>
<%= form_for @post, class: "col s12" do |f|%>
<div class = "red">
  <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>
</div>
<br />
<div class = "row">
  <div class="input-field col s6" >
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="input-field col s6" >
    <%= f.collection_select :genre, Genre.all, :name, :name,{ prompt: "Choose a Genre" }, class: "browser-default" %>
  </div>
</div>

<div class = "row">
  <%= f.text_area :generate_content, value: @post.generate_content %>
</div>

<div class = "row">
  <%=f.label "Change image", class: "btn waves-effect waves-light", style: "color:black", for: "fileUploader"%>
    <span style="display:none;">
      <%= f.file_field :image, id: "fileUploader",accept: 'image/png,image/jpeg'%>
    </span>
</div>
<%= f.submit "Edit Post", class: "btn waves-effect waves-light" %>
<% end %>
