<h1 class = "center-align"><%= @post.title %></h1>
<h5 class = "center-align"><%= @post.genre.name %></h5>
<div class = "row">
  <img class = "col s12 center-align responsive-img" src = "<%= @post.image.url %>" />
</div>
<p><%= @post.generate_content if @post.sentances.count > 0 %></p>
<%= link_to "Edit Story", edit_post_path(@post) if current_user == @post.user %>

<% if @post.last_poster != current_user.username %>
<div class = "row" >
  <%= form_for @sentance, class: "col s12" do |f|%>
  <div class = "red">
    <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>
  </div>
  <div class = "row" >
    <div class = "input-field col s6">
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.label "Add a Sentance" %><br />
      <%= f.text_field :content %>
      <%= f.submit "Add Sentance", class: "btn waves-effect waves-light s6"%>
      </div>
  </div>
  <% end %>
  </div>
 <% else %>
  <h5>Wait for someone else to post a sentance before you can add! share this post to get the story moving</h5>
 <% end %>

<ul class = "collection">
  <% @post.comments.each do |comment| %>
    <li class = "collection_item"><%= comment.content%> - posted by: <%= comment.user.username %></li>
  <% end %>
</ul>
